body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    margin: 0;
}

header {
    background: #0f9d58;
    color: white;
    padding: 15px;
    text-align: center;
}

h1 {
    margin: 0;
}

.search-box {
    width: 90%;
    max-width: 500px;
    padding: 12px;
    display: block;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background:  white;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.1);
    padding: 15px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.price {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

button {
    background: #0f9d58;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0b8043;
}
#cartArea{
    position: fixed;
    right: 10px;
    top: 100px;
    width: 280px;
    background: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,.2);
    max-height: 80vh;
    overflow-y: auto;
}

.qty-btn{
    width:30px;
    height:30px;
    margin:5px;
}

input{
    width:90%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:8px;
}

.cart-item{
    margin-bottom:10px;
    border-bottom:1px solid #eee;
    padding-bottom:10px;
}

.total{
    color:green;
    font-weight:bold;
    font-size:20px;
}
